.pyc

/__pycache__
__pycache__
.__pycache__
.pyc
/*.pyc
*.pyc
*.cpython*
.cpython

*.ini

mvrss/config_files/config.ini

events*

config_files/config.ini

/home/yahia/main_repos/TransRadar-Hold-/mvrss.egg-info
/home/yahia/main_repos/TransRadar-Hold-/mvrss/out_logs
/home/yahia/main_repos/TransRadar-Hold-/mvrss/carrada_logs/range_angle
/home/yahia/main_repos/TransRadar-Hold-/mvrss/carrada_logs/range_doppler